<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>{{pageTitle}}</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Fav Icon  -->
        <link rel='shortcut icon' href='favicon.ico'>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/global.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
      <header>
        <!--  Nav -->
          <nav role="navigation">
            <!-- <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Community Logo</a> -->
            <div class="row">
              <div class="col m2"><a href="#" class="brand-logo">PinLab</a></div>
              <div class="col m2"></div>
              <div class="col m2"></div>
              <div class="col m2"></div>

              <div class="col m2">
                <ul class="right hide-on-med-and-down">
                  <li><a href="badges.html">Products</a></li>
                  <li><a href="badges.html">Blog</a></li>
                </ul>
              </div>

              <div class="col m2">
                  <!-- <a href="#" class="brand-logo">PinLab</a> -->

                <div class="nav-wrapper">
                    <ul class="right hide-on-med-and-down">
                      <li><a href="search.html"><i class="material-icons">search</i></a></li>
                      <li><a href="settings.html"><i class="material-icons">settings</i></a></li>
                      
                      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">account_box</i></a></li>
                    </ul>
                </div>
                        <ul id="dropdown1" class="dropdown-content">
                          <li><a href="#!">Profile</a></li>
                          <li class="divider"></li>
                          <li><a href="#!">Logout</a></li>
                        </ul>

              </div>
            </div>




              <a href="#" id="side-nav-toggle" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <!-- </div> -->
          </nav>
      </header>

      <!--  Body Population -->
      <main>
        <div class="container">
          {{{body}}}
        </div>
      </main>


        <!-- Footer -->
        <footer class="page-footer">
          <!-- <div class="container"> -->
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                  <li><a class="white-text" href="#!">Link 1</a></li>
                  <li><a class="white-text" href="#!">Link 2</a></li>
                  <li><a class="white-text" href="#!">Link 3</a></li>
                  <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                  <li><a class="white-text" href="#!">Link 1</a></li>
                  <li><a class="white-text" href="#!">Link 2</a></li>
                  <li><a class="white-text" href="#!">Link 3</a></li>
                  <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          <!-- </div> -->
          <div class="footer-copyright">
            <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
          </div>
        </footer>

         <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
