{{!-- product = current product's JSON object from Firebase to be parsed & rendered in this view --}}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h3 class="header center orange-text">Product Details</h1>
      <h4 class="page-header red-text">{{product.name}}</h4>
    </div>
</div>