<div class="row">
  <div class="col s12 m5" id="anna" >
    <div class="card" style="background-color: #FFFFFF">
      <div class="card-content white-text">
        <span class="card-title" style="color: #2778bd"><strong>{{role.name}}</strong></span>
        <hr>
        <h5 style="color: #818181">{{role.description}}</h5>
        <br>
        <h5 style="color: #2778bd">Responsibilities</h5>
        <ul class="roleRequirements" style="color: #818181">
          <li>Conceive and create high-quality desings in print, mobile, tablet and web</li>
          <br>
          <li>Create memorable interactive experiences</li>
          <br>
          <li>You'll work iteratively: developing ideas from sketches and graphics to prototypes</li>
          <br>
          <li>Collaborate with development teams to create clean and intuitive designs</li>
          <br>
          <li>Learn about emerging design trends, standards and technology</li>
        </ul>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn" style="background-color: #2778bd">I'm Interested!</a>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="boxx" style="background-color: #000000">
      <!-- <div class="card-content white-text">

    </div> -->
  </div>
</div>
