header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#sidenav{
  /*background-color: #4dd0e1;*/
  background-color: #e53935;
}

#sidenav_top{
  display: inline-block;
}
