#memberSearch {
    box-sizing: content-box;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.modal-dialog {
    background-color: white;
}

#messageSend{
    margin-left: 85%;
}

/* #reviewSubmit{
    margin-left: 80%;
} */

#rateButton {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.glyphicon-star{
    width: 50px;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
